<%= form_with(model: @property, local: true) do |f| %>
  <% if @property.errors.any? %>
    <div id="error_explanation">
      <ul>
      <% @property.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div class="conatiner">
  <div class="row">
    <div class="col-xs-3"></div>
    <div class="col-xs-6">
      <%= f.label :property_name, 'Property Name' %><br>
      <%= f.text_field :property_name, class: "form-control", placeholder: "property_name" %>
      <%= f.label :rent, 'rent' %>
      <%= f.number_field :rent , class: "form-control"%>yen
      <%= f.label :address, 'address (e.g. of a residence)' %>
      <%= f.text_field :address , class: "form-control"%>
      <%= f.label :age, 'age of construction' %>
      <%= f.number_field :age %>year (e.g. ADA)
      <%= f.label :note, 'Note' %>
      <%= f.text_area :note %>


      <%= f.fields_for :nearest_stations do |nearest_station| %>
        <h2>
          nearest station
          <%= nearest_station.index + 1 %>
        </h2>
        <%= nearest_station.label :route_name, 'line name' %>
        <%= nearest_station.text_field :route_name , class: "form-control"%>
        <%= nearest_station.label :station_name, 'station name' %>
        <%= nearest_station.text_field :station_name , class: "form-control"%>
        <%= nearest_station.label :time, 'number of steps' %>
        <%= nearest_station.number_field :time , class: "form-control"%>division
      <% end %>

      <%= f.submit 'Register' , class: "btn btn-success"%>
    <% end %>

    
    </div>
    <div class="col-xs-3"></div>
  </div>
</div>
  
